.titulos
{
 color: cadetblue;
 text-align: center;
}

.parrafos 
{
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px 60px 50px 60px;

}

.card-img-top 
{
    margin: auto;
    width: 30% !important;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.d-block 
{
    width: 100px;
    height: 500px;
}

